body, html {
	margin:0;
	width:100%;
	height:100%;
}
#src_container {
	position:relative;
	display:block;
	width:100%;
	height:100%;
	overflow:scroll;
}
#src_root {
	position:relative;
	display:block;
	font-family: monospace;
	font-size:0.7em;
}
#scc_section {
	
}
	#scc_section h1 {
		margin:0;
		padding:0.4em;
		font-size:1em;
	}
	#scc_select {
		overflow-x:scroll;
		list-style-type:none;
		margin:0;
		padding:0;
	}
		#scc_select > li {
			margin:0;
			padding:1.2em;
			display:inline-block;
		}
			#scc_select > li h2 {
				
			}
	
	.snip-1 {
		background-color:rgba(0, 255, 0, 0.2);
	}
	.snip-2 {
		background-color:rgba(0, 255, 0, 0.4);
	}
	.snip-3 {
		background-color:rgba(0, 255, 0, 0.6);
	}
	.snip-4 {
		background-color:rgba(0, 255, 0, 0.8);
	}
	.snip.focused {
		background-color:red;
	}